@font-face {
  font-family: 'Raleway-Bold';
  src: url(./assets/fonts/Raleway-Bold.ttf);
 }

#root {
  font-family: 'Raleway-Bold', sans-serif;
  text-align: center;
}

header {
  display: flex;
  animation-name: appearing;
  animation-duration: 1s;
  background-image: url(./assets/images/header-background.jpg);
  background-repeat: no-repeat;
  background-color: rgb(255, 255, 255);
  background-size: 100%;
  height: 780px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.main-content {
  box-shadow: white 0px 0px 11px;
  background-color: #fff;
  height: 2150px;
  width: 100%;
  position: relative;
  margin-top: 755px;
  z-index: 2;
}

a {
  color: #4bb8d2 !important;
}

footer {
  background-color: #141414;
  width: 100%;
  position: relative;
  z-index: 3;
  height: 400px;
}

.footer-second-col {
  padding-left: 10%;
}

footer h1, footer h2 {
  display: flex;
  font-family: Arial, Helvetica;
  font-weight: bold;
  color: #8e8e8e;
  padding: 7px 0px 7px 0px;
}

footer p, footer a {
  font-family: Arial, Helvetica;
  font-size: 1.2rem;
}

footer p, footer span {
  display: flex;
  color: #6d6d6d;
}

footer span {
  display: flex;
  font-family: Arial, Helvetica;
  font-size: 0.9rem;
}

footer a {
  font-size: 1rem;
  display: contents;
  font-weight: bold;
}

.title {
  color: #fff;
  font-weight: bold;
  display: flex;
}

.first-screen-title-main {
  animation-name: surfacing;
  animation-duration: 0.8s;
  font-size: 5.5rem;
  align-items: flex-end;
}

.first-screen-title-sub {
  animation-name: surfacing;
  animation-duration: 0.8s;
  font-size: 1.5rem;
  align-items: flex-start;
}

.second-screen-title-main {
  color: #ccc;
  font-size: 4rem;
  line-height: 0.8rem;
  padding-top: 80px;
  padding-bottom: 80px;
}

.main-content-text-title {
  justify-content: center;
  color: #434343;
  font-size: 3.5rem;
  line-height: 0.9em;
}

.main-content-text {
  justify-content: center;
  color: #969696;
  font-family: Arial, Helvetica;
  font-size: 1.5rem;
}

.project-collection {
  height: 410px;
  width: 1050px;
  margin: auto;
}

.project-collection-container {
  height: 76%;
}

.overview {
  width: -webkit-fill-available;
  width: -moz-available;
  height: 100%;
}

.overview-container {
  height: 24%;
}

.overview-img {
  display: flex;
  background-image: url(./assets/images/main-content-background.jpg);
  background-repeat: no-repeat;
  background-size: 115%;
  height: 100%;
  position: relative;
}

.overview-text {
  height: 100%;
  background-color: #f5f4f4;
  padding: 0px 6% 0 6%;
}

.project-img {
  display: flex;
  font-family: Arial, Helvetica;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 300px;
  height: 100%;
  position: relative;
  color: rgba(255, 255, 255, 1);
}

.headphones-img-description {
  animation-name: headphones-description-appearing;
  animation-duration: 0.3s;
  background-size: 110%;
  background-image: linear-gradient(rgba(82, 140, 163, 0.8), rgba(82, 140, 163, 0.8)), url(./assets/images/headphones.jpg);
}

.headphones-img {
  animation-name: headphones-description-disappearing;
  background-size: cover;
  animation-duration: 0.4s;
  background-image: linear-gradient(rgba(82, 140, 163, 0), rgba(82, 140, 163, 0)), url(./assets/images/headphones.jpg);
}

.engineer-img-description {
  animation-name: engineer-description-appearing;
  animation-duration: 0.3s;
  background-size: 110%;
  background-image: linear-gradient(rgba(82, 140, 163, 0.8), rgba(82, 140, 163, 0.8)), url(./assets/images/engineer.jpg);
}

.engineer-img {
  animation-name: engineer-description-disappearing;
  background-size: cover;
  animation-duration: 0.4s;
  background-image: linear-gradient(rgba(82, 140, 163, 0), rgba(82, 140, 163, 0)), url(./assets/images/engineer.jpg);
}

.vending-img-description {
  animation-name: vending-description-appearing;
  animation-duration: 0.3s;
  background-size: 110%;
  background-image: linear-gradient(rgba(82, 140, 163, 0.8), rgba(82, 140, 163, 0.8)), url(./assets/images/vending.jpg);
}

.vending-img {
  animation-name: vending-description-disappearing;
  background-size: cover;
  animation-duration: 0.4s;
  background-image: linear-gradient(rgba(82, 140, 163, 0), rgba(82, 140, 163, 0)), url(./assets/images/vending.jpg);
}

.document-editing-img-description {
  animation-name: document-editing-description-appearing;
  animation-duration: 0.3s;
  background-size: 110%;
  background-image: linear-gradient(rgba(82, 140, 163, 0.8), rgba(82, 140, 163, 0.8)), url(./assets/images/document-editing.jpg);
}

.document-editing-img {
  animation-name: document-editing-description-disappearing;
  animation-duration: 0.4s;
  background-size: cover;
  background-image: linear-gradient(rgba(82, 140, 163, 0), rgba(82, 140, 163, 0)), url(./assets/images/document-editing.jpg);
}

.car-management-img-description {
  animation-name: car-management-description-appearing;
  animation-duration: 0.3s;
  background-size: 110%;
  background-image: linear-gradient(rgba(82, 140, 163, 0.8), rgba(82, 140, 163, 0.8)), url(./assets/images/car-management.jpg);
}

.car-management-img {
  animation-name: car-management-description-disappearing;
  animation-duration: 0.4s;
  background-size: cover;
  background-image: linear-gradient(rgba(82, 140, 163, 0), rgba(82, 140, 163, 0)), url(./assets/images/car-management.jpg);
}

.vacation-management-img-description {
  animation-name: vacation-management-description-appearing;
  animation-duration: 0.3s;
  background-size: 110%;
  background-image: linear-gradient(rgba(82, 140, 163, 0.8), rgba(82, 140, 163, 0.8)), url(./assets/images/vacation-management.jpg);
}

.vacation-management-img {
  animation-name: vacation-management-description-disappearing;
  animation-duration: 0.4s;
  background-size: cover;
  background-image: linear-gradient(rgba(82, 140, 163, 0), rgba(82, 140, 163, 0)), url(./assets/images/vacation-management.jpg);
}

.headphones-img-description .d-none,
.engineer-img-description .d-none,
.vending-img-description .d-none,
.document-editing-img-description .d-none,
.car-management-img-description .d-none,
.vacation-management-img-description .d-none {
  display: flex !important;
  animation-name: description-appearing;
  animation-duration: 0.3s;
}

.headphones-img .d-none,
.engineer-img .d-none,
.vending-img .d-none,
.document-editing-img .d-none,
.car-management-img .d-none,
.vacation-management-img .d-none {
  display: none !important;
  animation-name: description-disappearing;
  animation-duration: 0.3s;
}

@keyframes appearing {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes surfacing {
  from {
    top: 8vh;
  }

  to {
    top: 0vh;
  }
}

@keyframes description-appearing {
  from {
    color: rgba(255, 255, 255, 0);
    background-size: 100%;
  }
  to {
    color: rgba(255, 255, 255, 1);
    background-size: 110%;
  }
}

@keyframes description-disappearing {
  from {
    color: rgba(255, 255, 255, 1);
    background-size: 110%;
  }
  to {
    color: rgba(255, 255, 255, 0);
    background-size: 100%;
  }
}

@keyframes headphones-description-appearing {
  0% {
    color: rgba(255, 255, 255, 0);
    background-size: 100%;
    background-image: linear-gradient(rgba(82, 140, 163, 0), rgba(82, 140, 163, 0)), url(./assets/images/headphones.jpg);
  }

  12% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.1), rgba(82, 140, 163, 0.1)), url(./assets/images/headphones.jpg);
  }

  24% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.2), rgba(82, 140, 163, 0.2)), url(./assets/images/headphones.jpg);
  }

  36% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.3), rgba(82, 140, 163, 0.3)), url(./assets/images/headphones.jpg);
  }

  48% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.4), rgba(82, 140, 163, 0.4)), url(./assets/images/headphones.jpg);
  }

  60% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.5), rgba(82, 140, 163, 0.5)), url(./assets/images/headphones.jpg);
  }

  72% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.6), rgba(82, 140, 163, 0.6)), url(./assets/images/headphones.jpg);
  }

  84% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.7), rgba(82, 140, 163, 0.7)), url(./assets/images/headphones.jpg);
  }

  96% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.78), rgba(82, 140, 163, 0.78)), url(./assets/images/headphones.jpg);
  }

  100% {
    color: rgba(255, 255, 255, 1);
    background-size: 110%;
    background-image: linear-gradient(rgba(82, 140, 163, 0.8), rgba(82, 140, 163, 0.8)), url(./assets/images/headphones.jpg);
  }
}

@keyframes headphones-description-disappearing {
  0% {
    color: rgba(255, 255, 255, 1);
    background-size: 110%;
    background-image: linear-gradient(rgba(82, 140, 163, 0.8), rgba(82, 140, 163, 0.8)), url(./assets/images/headphones.jpg);
  }

  12% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.7), rgba(82, 140, 163, 0.7)), url(./assets/images/headphones.jpg);
  }

  24% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.6), rgba(82, 140, 163, 0.6)), url(./assets/images/headphones.jpg);
  }

  36% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.5), rgba(82, 140, 163, 0.5)), url(./assets/images/headphones.jpg);
  }

  48% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.4), rgba(82, 140, 163, 0.4)), url(./assets/images/headphones.jpg);
  }

  60% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.3), rgba(82, 140, 163, 0.3)), url(./assets/images/headphones.jpg);
  }

  72% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.2), rgba(82, 140, 163, 0.2)), url(./assets/images/headphones.jpg);
  }

  84% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.1), rgba(82, 140, 163, 0.1)), url(./assets/images/headphones.jpg);
  }

  96% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.02), rgba(82, 140, 163, 0.02)), url(./assets/images/headphones.jpg);
  }

  100% {
    color: rgba(255, 255, 255, 0);
    background-size: 100%;
    background-image: linear-gradient(rgba(82, 140, 163, 0), rgba(82, 140, 163, 0)), url(./assets/images/headphones.jpg);
  }
}

@keyframes engineer-description-appearing {
  0% {
    color: rgba(255, 255, 255, 0);
    background-size: 100%;
    background-image: linear-gradient(rgba(82, 140, 163, 0), rgba(82, 140, 163, 0)), url(./assets/images/engineer.jpg);
  }

  12% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.1), rgba(82, 140, 163, 0.1)), url(./assets/images/engineer.jpg);
  }

  24% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.2), rgba(82, 140, 163, 0.2)), url(./assets/images/engineer.jpg);
  }

  36% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.3), rgba(82, 140, 163, 0.3)), url(./assets/images/engineer.jpg);
  }

  48% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.4), rgba(82, 140, 163, 0.4)), url(./assets/images/engineer.jpg);
  }

  60% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.5), rgba(82, 140, 163, 0.5)), url(./assets/images/engineer.jpg);
  }

  72% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.6), rgba(82, 140, 163, 0.6)), url(./assets/images/engineer.jpg);
  }

  84% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.7), rgba(82, 140, 163, 0.7)), url(./assets/images/engineer.jpg);
  }

  96% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.78), rgba(82, 140, 163, 0.78)), url(./assets/images/engineer.jpg);
  }

  100% {
    color: rgba(255, 255, 255, 1);
    background-size: 110%;
    background-image: linear-gradient(rgba(82, 140, 163, 0.8), rgba(82, 140, 163, 0.8)), url(./assets/images/engineer.jpg);
  }
}

@keyframes engineer-description-disappearing {
  0% {
    color: rgba(255, 255, 255, 1);
    background-size: 110%;
    background-image: linear-gradient(rgba(82, 140, 163, 0.8), rgba(82, 140, 163, 0.8)), url(./assets/images/engineer.jpg);
  }

  12% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.7), rgba(82, 140, 163, 0.7)), url(./assets/images/engineer.jpg);
  }

  24% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.6), rgba(82, 140, 163, 0.6)), url(./assets/images/engineer.jpg);
  }

  36% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.5), rgba(82, 140, 163, 0.5)), url(./assets/images/engineer.jpg);
  }

  48% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.4), rgba(82, 140, 163, 0.4)), url(./assets/images/engineer.jpg);
  }

  60% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.3), rgba(82, 140, 163, 0.3)), url(./assets/images/engineer.jpg);
  }

  72% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.2), rgba(82, 140, 163, 0.2)), url(./assets/images/engineer.jpg);
  }

  84% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.1), rgba(82, 140, 163, 0.1)), url(./assets/images/engineer.jpg);
  }

  96% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.02), rgba(82, 140, 163, 0.02)), url(./assets/images/engineer.jpg);
  }

  100% {
    color: rgba(255, 255, 255, 0);
    background-size: 100%;
    background-image: linear-gradient(rgba(82, 140, 163, 0), rgba(82, 140, 163, 0)), url(./assets/images/engineer.jpg);
  }
}

@keyframes vending-description-appearing {
  0% {
    color: rgba(255, 255, 255, 0);
    background-size: 100%;
    background-image: linear-gradient(rgba(82, 140, 163, 0), rgba(82, 140, 163, 0)), url(./assets/images/vending.jpg);
  }

  12% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.1), rgba(82, 140, 163, 0.1)), url(./assets/images/vending.jpg);
  }

  24% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.2), rgba(82, 140, 163, 0.2)), url(./assets/images/vending.jpg);
  }

  36% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.3), rgba(82, 140, 163, 0.3)), url(./assets/images/vending.jpg);
  }

  48% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.4), rgba(82, 140, 163, 0.4)), url(./assets/images/vending.jpg);
  }

  60% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.5), rgba(82, 140, 163, 0.5)), url(./assets/images/vending.jpg);
  }

  72% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.6), rgba(82, 140, 163, 0.6)), url(./assets/images/vending.jpg);
  }

  84% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.7), rgba(82, 140, 163, 0.7)), url(./assets/images/vending.jpg);
  }

  96% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.78), rgba(82, 140, 163, 0.78)), url(./assets/images/vending.jpg);
  }

  100% {
    color: rgba(255, 255, 255, 1);
    background-size: 110%;
    background-image: linear-gradient(rgba(82, 140, 163, 0.8), rgba(82, 140, 163, 0.8)), url(./assets/images/vending.jpg);
  }
}

@keyframes vending-description-disappearing {
  0% {
    color: rgba(255, 255, 255, 1);
    background-size: 110%;
    background-image: linear-gradient(rgba(82, 140, 163, 0.8), rgba(82, 140, 163, 0.8)), url(./assets/images/vending.jpg);
  }

  12% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.7), rgba(82, 140, 163, 0.7)), url(./assets/images/vending.jpg);
  }

  24% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.6), rgba(82, 140, 163, 0.6)), url(./assets/images/vending.jpg);
  }

  36% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.5), rgba(82, 140, 163, 0.5)), url(./assets/images/vending.jpg);
  }

  48% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.4), rgba(82, 140, 163, 0.4)), url(./assets/images/vending.jpg);
  }

  60% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.3), rgba(82, 140, 163, 0.3)), url(./assets/images/vending.jpg);
  }

  72% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.2), rgba(82, 140, 163, 0.2)), url(./assets/images/vending.jpg);
  }

  84% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.1), rgba(82, 140, 163, 0.1)), url(./assets/images/vending.jpg);
  }

  96% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.02), rgba(82, 140, 163, 0.02)), url(./assets/images/vending.jpg);
  }

  100% {
    color: rgba(255, 255, 255, 0);
    background-size: 100%;
    background-image: linear-gradient(rgba(82, 140, 163, 0), rgba(82, 140, 163, 0)), url(./assets/images/vending.jpg);
  }
}

@keyframes document-editing-description-appearing {
  0% {
    color: rgba(255, 255, 255, 0);
    background-size: 100%;
    background-image: linear-gradient(rgba(82, 140, 163, 0), rgba(82, 140, 163, 0)), url(./assets/images/document-editing.jpg);
  }

  12% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.1), rgba(82, 140, 163, 0.1)), url(./assets/images/document-editing.jpg);
  }

  24% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.2), rgba(82, 140, 163, 0.2)), url(./assets/images/document-editing.jpg);
  }

  36% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.3), rgba(82, 140, 163, 0.3)), url(./assets/images/document-editing.jpg);
  }

  48% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.4), rgba(82, 140, 163, 0.4)), url(./assets/images/document-editing.jpg);
  }

  60% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.5), rgba(82, 140, 163, 0.5)), url(./assets/images/document-editing.jpg);
  }

  72% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.6), rgba(82, 140, 163, 0.6)), url(./assets/images/document-editing.jpg);
  }

  84% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.7), rgba(82, 140, 163, 0.7)), url(./assets/images/document-editing.jpg);
  }

  96% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.78), rgba(82, 140, 163, 0.78)), url(./assets/images/document-editing.jpg);
  }

  100% {
    color: rgba(255, 255, 255, 1);
    background-size: 110%;
    background-image: linear-gradient(rgba(82, 140, 163, 0.8), rgba(82, 140, 163, 0.8)), url(./assets/images/document-editing.jpg);
  }
}

@keyframes document-editing-description-disappearing {
  0% {
    color: rgba(255, 255, 255, 1);
    background-size: 110%;
    background-image: linear-gradient(rgba(82, 140, 163, 0.8), rgba(82, 140, 163, 0.8)), url(./assets/images/document-editing.jpg);
  }

  12% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.7), rgba(82, 140, 163, 0.7)), url(./assets/images/document-editing.jpg);
  }

  24% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.6), rgba(82, 140, 163, 0.6)), url(./assets/images/document-editing.jpg);
  }

  36% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.5), rgba(82, 140, 163, 0.5)), url(./assets/images/document-editing.jpg);
  }

  48% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.4), rgba(82, 140, 163, 0.4)), url(./assets/images/document-editing.jpg);
  }

  60% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.3), rgba(82, 140, 163, 0.3)), url(./assets/images/document-editing.jpg);
  }

  72% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.2), rgba(82, 140, 163, 0.2)), url(./assets/images/document-editing.jpg);
  }

  84% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.1), rgba(82, 140, 163, 0.1)), url(./assets/images/document-editing.jpg);
  }

  96% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.02), rgba(82, 140, 163, 0.02)), url(./assets/images/document-editing.jpg);
  }

  100% {
    color: rgba(255, 255, 255, 0);
    background-size: 100%;
    background-image: linear-gradient(rgba(82, 140, 163, 0), rgba(82, 140, 163, 0)), url(./assets/images/document-editing.jpg);
  }
}

@keyframes car-management-description-appearing {
  0% {
    color: rgba(255, 255, 255, 0);
    background-size: 100%;
    background-image: linear-gradient(rgba(82, 140, 163, 0), rgba(82, 140, 163, 0)), url(./assets/images/car-management.jpg);
  }

  12% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.1), rgba(82, 140, 163, 0.1)), url(./assets/images/car-management.jpg);
  }

  24% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.2), rgba(82, 140, 163, 0.2)), url(./assets/images/car-management.jpg);
  }

  36% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.3), rgba(82, 140, 163, 0.3)), url(./assets/images/car-management.jpg);
  }

  48% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.4), rgba(82, 140, 163, 0.4)), url(./assets/images/car-management.jpg);
  }

  60% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.5), rgba(82, 140, 163, 0.5)), url(./assets/images/car-management.jpg);
  }

  72% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.6), rgba(82, 140, 163, 0.6)), url(./assets/images/car-management.jpg);
  }

  84% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.7), rgba(82, 140, 163, 0.7)), url(./assets/images/car-management.jpg);
  }

  96% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.78), rgba(82, 140, 163, 0.78)), url(./assets/images/car-management.jpg);
  }

  100% {
    color: rgba(255, 255, 255, 1);
    background-size: 110%;
    background-image: linear-gradient(rgba(82, 140, 163, 0.8), rgba(82, 140, 163, 0.8)), url(./assets/images/car-management.jpg);
  }
}

@keyframes car-management-description-disappearing {
  0% {
    color: rgba(255, 255, 255, 1);
    background-size: 110%;
    background-image: linear-gradient(rgba(82, 140, 163, 0.8), rgba(82, 140, 163, 0.8)), url(./assets/images/car-management.jpg);
  }

  12% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.7), rgba(82, 140, 163, 0.7)), url(./assets/images/car-management.jpg);
  }

  24% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.6), rgba(82, 140, 163, 0.6)), url(./assets/images/car-management.jpg);
  }

  36% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.5), rgba(82, 140, 163, 0.5)), url(./assets/images/car-management.jpg);
  }

  48% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.4), rgba(82, 140, 163, 0.4)), url(./assets/images/car-management.jpg);
  }

  60% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.3), rgba(82, 140, 163, 0.3)), url(./assets/images/car-management.jpg);
  }

  72% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.2), rgba(82, 140, 163, 0.2)), url(./assets/images/car-management.jpg);
  }

  84% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.1), rgba(82, 140, 163, 0.1)), url(./assets/images/car-management.jpg);
  }

  96% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.02), rgba(82, 140, 163, 0.02)), url(./assets/images/car-management.jpg);
  }

  100% {
    color: rgba(255, 255, 255, 0);
    background-size: 100%;
    background-image: linear-gradient(rgba(82, 140, 163, 0), rgba(82, 140, 163, 0)), url(./assets/images/car-management.jpg);
  }
}

@keyframes vacation-management-description-appearing {
  0% {
    color: rgba(255, 255, 255, 0);
    background-size: 100%;
    background-image: linear-gradient(rgba(82, 140, 163, 0), rgba(82, 140, 163, 0)), url(./assets/images/vacation-management.jpg);
  }

  12% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.1), rgba(82, 140, 163, 0.1)), url(./assets/images/vacation-management.jpg);
  }

  24% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.2), rgba(82, 140, 163, 0.2)), url(./assets/images/vacation-management.jpg);
  }

  36% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.3), rgba(82, 140, 163, 0.3)), url(./assets/images/vacation-management.jpg);
  }

  48% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.4), rgba(82, 140, 163, 0.4)), url(./assets/images/vacation-management.jpg);
  }

  60% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.5), rgba(82, 140, 163, 0.5)), url(./assets/images/vacation-management.jpg);
  }

  72% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.6), rgba(82, 140, 163, 0.6)), url(./assets/images/vacation-management.jpg);
  }

  84% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.7), rgba(82, 140, 163, 0.7)), url(./assets/images/vacation-management.jpg);
  }

  96% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.78), rgba(82, 140, 163, 0.78)), url(./assets/images/vacation-management.jpg);
  }

  100% {
    color: rgba(255, 255, 255, 1);
    background-size: 110%;
    background-image: linear-gradient(rgba(82, 140, 163, 0.8), rgba(82, 140, 163, 0.8)), url(./assets/images/vacation-management.jpg);
  }
}

@keyframes vacation-management-description-disappearing {
  0% {
    color: rgba(255, 255, 255, 1);
    background-size: 110%;
    background-image: linear-gradient(rgba(82, 140, 163, 0.8), rgba(82, 140, 163, 0.8)), url(./assets/images/vacation-management.jpg);
  }

  12% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.7), rgba(82, 140, 163, 0.7)), url(./assets/images/vacation-management.jpg);
  }

  24% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.6), rgba(82, 140, 163, 0.6)), url(./assets/images/vacation-management.jpg);
  }

  36% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.5), rgba(82, 140, 163, 0.5)), url(./assets/images/vacation-management.jpg);
  }

  48% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.4), rgba(82, 140, 163, 0.4)), url(./assets/images/vacation-management.jpg);
  }

  60% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.3), rgba(82, 140, 163, 0.3)), url(./assets/images/vacation-management.jpg);
  }

  72% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.2), rgba(82, 140, 163, 0.2)), url(./assets/images/vacation-management.jpg);
  }

  84% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.1), rgba(82, 140, 163, 0.1)), url(./assets/images/vacation-management.jpg);
  }

  96% {
    background-image: linear-gradient(rgba(82, 140, 163, 0.02), rgba(82, 140, 163, 0.02)), url(./assets/images/vacation-management.jpg);
  }

  100% {
    color: rgba(255, 255, 255, 0);
    background-size: 100%;
    background-image: linear-gradient(rgba(82, 140, 163, 0), rgba(82, 140, 163, 0)), url(./assets/images/vacation-management.jpg);
  }
}

@media (max-width: 1199px) {
  header {
    height: 700px;
  }

  .main-content {
    height: 1950px;
    margin-top: 700px;
  }

  .project-collection {
    width: 100%;
    height: 400px;
  }

  .main-content-text {
    font-size: 1.2rem;
  }

  .project-collection-container {
    height: 80%;
  }

  .overview-container {
    height: 20%;
  }
}

@media (max-width: 991px) {

  header {
    height: 460px;
  }

  .main-content {
    height: 1495px;
    margin-top: 430px;
  }

  .project-collection {
    height: 300px;
  }

  .first-screen-title-main {
    font-size: 4rem;
  }

  .main-content-text-title {
    font-size: 2.5rem;
  }

}

@media (max-width: 767px) {
  header {
    height: 240px;
  }

  footer {
    height: 630px;
  }

  .footer-second-col {
    padding-left: 15px;
    padding-bottom: 40px;
  }

  .main-content {
    height: 1150px;
    margin-top: 240px;
  }

  .main-content-text-title {
    font-size: 2rem;
  }

  .main-content-text {
    font-size: 1.2rem;
  }

  .overview-img {
    height: 50% !important;
  }

  .overview-text {
    height: 50% !important;
  }

  .overview {
    min-height: 500px;
  }

  .first-screen-title-main {
    font-size: 2rem;
  }

  .first-screen-title-sub {
    font-size: 0.8rem;
  }

  .second-screen-title-main {
    font-size: 1.6rem;
    padding-top: 40px;
    padding-bottom: 30px;
  }
}


@media handlehold and (max-width: 767px) { 
  .main-content {
    height: 1850px;
  }
}

@media (max-width: 640px) { 
  footer {
    height: 400px;
  }

  .main-content {
    height: 2400px;
  }

  .main-content-text {
    font-size: 1.2rem;
  }

  .first-screen-title-main {
    font-size: 2rem;
  }

  .first-screen-title-sub {
    font-size: 0.8rem;
  }

  .second-screen-title-main {
    font-size: 1.6rem;
  }
}

@media (max-width: 575px) {

  footer {
    height: 630px;
  }

  footer h1, footer h2 {
    font-size: 1.5rem;
  }

  .footer-second-col {
    padding-bottom: 20px;
  }

  .main-content {
    height: 2500px;
  }
  
  .overview {
    max-height: 260px;
  }
  
  .overview-img {
    min-width: 100%;
  }

  .overview-text {
    min-width: 100%;
  }

  .main-content-text {
    font-size: 1.2rem;
  }

  .first-screen-title-main {
    font-size: 2rem;
  }

  .first-screen-title-sub {
    font-size: 0.8rem;
  }

  .second-screen-title-main {
    font-size: 1.6rem;
  }
}

@media (max-width: 375px) {

  html {
    overflow-x: hidden;
  }

  header {
    background-size: cover;
    height: 200px;
  }

  footer {
    height: max-content;
  }

  footer a, footer p {
    font-size: 0.9rem;
  }

  footer h1, footer h2 {
    font-size: 1.2rem;
  }

  footer span {
    font-size: 0.8rem;
  }

  .footer-second-col {
    padding-bottom: 30px;
  }

  .main-content-text {
    font-size: 0.9rem;
  }

  .overview-img {
    background-size: 120%;
  }

  .main-content {
    margin-top: 200px;
  }

  .second-screen-title-main {
    font-size: 1.2rem;
  }

  .first-screen-title-main {
    font-size: 1rem;
  }

  .first-screen-title-sub {
    font-size: 0.5rem;
  }

}

@media (max-width: 360px) {

}

@media (max-width: 320px) {

}

